{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<h2>#Werewolf IRC Channel</h2>
<p>#Werewolf is a friendly IRC channel on EsperNet for playing "Werewolf", a theme of Mafia, via an online bot that manages the game (Wolfbot).</p>

<p>The bot is an updated version of freenode's lykos Werewolf bot. It was modified to fit EsperNet's playing needs, and is constantly updated by nasonfish and Vgr.</p>

<ul>
    <li><a href="{{ url_for('play') }}">Play The Game</a></li>
    <li><a href="{{ url_for('stats') }}">View Stats</a></li>
    <li><a href="{{ url_for('roles') }}">Roles Guide</a></li>
    <li><a href="{{ url_for('style') }}">Style Guide</a></li>
    <li><a href="http://github.com/Vgr255/Wolfbot">View Wolfbot's Source</a></li>
</ul>
<h3>View player stats</h3>
<input type="text" id="all-filter" placeholder="Filter users"/>

<ul>
    {% for player in players %}
    <li class="search-name" data-name='{{ player[0] }}'><a href="{{ url_for('player', username=player[0]) }}">{{ player[0] }}</a></li>
    {% endfor %}
</ul>

{% endblock %}

