{% extends "base.html" %}
{% block title %}{{username}}'s Statistics{% endblock %}
{% block content %}
  <h2>{{ username }}'s playerstats</h2>
  <canvas id="playerstats" width="600" height="400"></canvas>
{% endblock %}
{% block js %}
  var data = {
    labels: [{% for stat in stats %}"{{ stat.role }}", {% endfor %}],
    datasets: [
        {
            label: "Team Losses",
            fillColor: "#FF0000",
            data: [{% for stat in stats %}{{ stat.totalgames - stat.teamwins }}, {% endfor %}]
        },
        {
            label: "Team Wins",
            fillColor: "#00FF00",
            data: [{% for stat in stats %}{{ stat.teamwins }}, {% endfor %}]
        },
        {
            label: "Individual Wins",
            fillColor: "#0000FF",
            data: [{% for stat in stats %}{{ stat.individualwins }}, {% endfor %}]
        }
    ],
  };
  {% raw %}
  var stats = new Chart(document.getElementById("playerstats").getContext("2d")).Bar(data, {
    multiTooltipTemplate: "<%= datasetLabel %>: <%= value %>"
  });
  {% endraw %}
{% endblock %}
